<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<import resource="classpath:applicationContext-mongo-orm.xml"/>
	<bean parent="dataSourceFactory">
		 <property name="config">
			<bean class="github.macrohuang.orm.mongo.config.MongoConfig">
				<!-- <property name="host" value="dev01.mymongo" />
				<property name="port" value="8888" />-->
				<property name="replicaSetSeeds">
					<set>
						<value>10.11.203.55:6666</value>
						<value>10.11.203.55:6667</value>
					</set>
				</property>
				<property name="username" value="write" />
				<property name="password" value="write" />
				<property name="needAuth" value="true" />
			</bean>
		</property>
	</bean>
</beans>
