<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
      <property name="order" value="1" />  
      <property name="ignoreUnresolvablePlaceholders" value="true" />
      <property name="locations"> 
          <list> 
              <value>classpath:mongodb-conf.properties</value>
          </list> 
      </property>
    </bean>
	
	<bean id="dataSourceFactory1" class="com.sogou.bizdev.mongo.orm.factory.DefaultMongoDatasourceFactory" destroy-method="destory">
		 <property name="config">
			<bean class="com.sogou.bizdev.mongo.orm.config.MongoConfig">
				<property name="replicaSetSeeds">
					<set>
						<value>${xreport01.mongodb.host}:${cpc.mongo.port}</value>
						<value>${xreport02.mongodb.host}:${cpc.mongo.port}</value>
						<value>${xreport03.mongodb.host}:${cpc.mongo.port}</value>
					</set>
				</property>
				<property name="username" >
					<value>${cpc.mongo.username}</value>
				</property>
				<property name="password">
					<value>${cpc.mongo.password}</value>
				</property>
				<property name="needAuth">
					<value>${cpc.mongo.needAuth}</value>
				</property>
				<property name="poolSize">
					<value>${cpc.mongo.poolSize}</value>
				</property>
				<property name="maxConnections">
					<value>${cpc.mongo.maxConnections}</value>
				</property>
			</bean>
		</property>
		<property name="include">
			<set>
				<value>${cpc.mongo.include.1}</value>
				<value>${cpc.mongo.include.2}</value>
			</set>
		</property>
	</bean>

	<bean id="dataSourceFactory2" class="com.sogou.bizdev.mongo.orm.factory.DefaultMongoDatasourceFactory" destroy-method="destory">
		 <property name="config">
			<bean class="com.sogou.bizdev.mongo.orm.config.MongoConfig">
				<property name="replicaSetSeeds">
					<set>
						<value>${xreport01.mongodb.host}:${idea.mongo.port}</value>
						<value>${xreport02.mongodb.host}:${idea.mongo.port}</value>
						<value>${xreport03.mongodb.host}:${idea.mongo.port}</value>
					</set>
				</property>
				<property name="username" >
					<value>${idea.mongo.username}</value>
				</property>
				<property name="password">
					<value>${idea.mongo.password}</value>
				</property>
				<property name="needAuth">
					<value>${idea.mongo.needAuth}</value>
				</property>
				<property name="poolSize">
					<value>${idea.mongo.poolSize}</value>
				</property>
				<property name="maxConnections">
					<value>${idea.mongo.maxConnections}</value>
				</property>
			</bean>
		</property>
		<property name="include">
			<set>
				<value>${idea.mongo.include.1}</value>
				<value>${idea.mongo.include.2}</value>
			</set>
		</property>
	</bean>
	
	<bean id="mongoDBFactory" class="github.macrohuang.orm.mongo.factory.DistributeMongoDBFactory">
		<property name="datasourceFactories">
			<set>
				<ref local="dataSourceFactory1"/>
				<ref local="dataSourceFactory2"/>
			</set>
		</property>
	</bean>
	<bean id="mongoDBTemplate" class="github.macrohuang.orm.mongo.core.MongoDBTemplate">
		<property name="dbFactory" ref="mongoDBFactory" />
	</bean>
</beans>
